@inherits LayoutComponentBase


<div class="border border-green-600 min-h-screen grid grid-cols-12">
    <div class="border border-black col-span-1"><NavMenu/></div>
    <div class="border border-blue-600 col-span-3">
        @switch (Pages)
        {
            
            
        }
    </div>
    <div class="border border-yellow-500 col-span-8">dialogue</div>
</div>

@code{
    public messager.model.NavMenu[]? navMenus;
    protected override void OnInitialized()
    {
        navMenus = messager.web.Data.NavData.GetNavMenu();
    }
}