@inherits LayoutComponentBase


<div class="border border-green-600 min-h-screen grid grid-cols-12">
    <div class="border border-black col-span-1"><NavMenu/></div>
    <div class="border border-blue-600 col-span-11">
       @Body
    </div>
</div>