@inherits NavMenuBase;

@if(navMenus == null){
  <div>Loading ...</div>
}else{
    <div>
        @foreach (var navMenu in navMenus)
        {
            <img src="@navMenu.Icon" class="rounded-full h-12 w-12"/>
        }
    </div>
}