@page "/"
@inject NavigationManager NavigationManager;

<div class="grid grid-cols-10 min-h-screen">
    <div class="border border-green-800 col-span-3">View section</div>
    <div class="border border-red-700 col-span-7 flex flex-col min-h-screen">
        <MessageBody/>
        <InputComponent/>
    </div>
</div>
