
<div class="flex flex-col h-full">
    <div class="bg-gray-300 p-4 top-0 sticky z-50 shadow-lg flex justify-between">
        <div class="flex items-center gap-3">
            <div class="rounded-full h-12 w-12 bg-red-950"></div>
            <div>Kennedy</div>
        </div>
        <div>Icons</div>
    </div>
    <div class="flex-1">Dialogue</div>
</div>